@import '../../variables.scss';

.social {
    margin-top: 140px;
    padding-top: 15px;

    >div>div {
        display: flex;
    }
}

.socialHide {
    opacity: 0;
    transition: $transition-time;
    transform: $transform-translate-y;
}

.socialShow {
    opacity: 1;
    transform: translateY(0);
}

.separator {
    display: block;
    margin: 25px 0 35px 0;
    width: 117px;
    height: 2px;
    background-color: #fff;
}

.booksy_container {
    width: 50%;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 0;

    .booksy_button {
        width: 118px;
        background-color: #fff;
        border-radius: 60px;
        overflow: hidden;
        margin-bottom: 15px;
        @extend %center;

        img {
            width: 90px;
        }
    }
}

.title {
    font-family: $secondary-font;
    font-size: 30px;
    font-weight: 700;
    @extend %center;
    flex-direction: column;
}

.button {
    color: $secondary-color;
    border: 1px solid $secondary-color;
    border-radius: 60px;
    padding: 17px 30px;
    font-size: 16px;
    font-family: $primary-font;
    font-weight: 600;
    transition: .3s;
    cursor: pointer;

    &:hover {
        background-color: $secondary-color;
        color: #fff;
    }
}

.facebook_container {
    color: $primary-color;
    @extend %center;
    flex-direction: column;
    width: 50%;

    .description {
        font-size: 36px;
        font-weight: bold;
        font-family: $secondary-font;
    }

    .circle_number {
        margin: 25px 0;
        border: 1px solid $secondary-color;
        width: 135px;
        height: 135px;
        border-radius: 50%;
        @extend %center;
        font-size: 45px;
        font-family: $secondary-font;

    }

    .additional_description {
        color: $secondary-color;
        font-size: 21px;
    }
}

@media (max-width: 992px) {
    .booksy_container {
        padding: 20px 0;
        justify-content: space-between;
    }

    .separator {
        margin-top: 8px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .social {
        margin-top: 30px;

        >div>div {
            flex-direction: column;
        }
    }

    .booksy_container {
        width: 100%;

        .booksy_button {
            margin-bottom: 10px;
        }
    }

    .facebook_container {
        width: 100%;
        margin-top: 20px;

        .additional_description {
            font-size: 20px;
        }
    }

}