@import '../../variables.scss';

.pricing {
    background-color: #fff;
    color: $primary-color;
    padding-top: 10px;
    padding-bottom: 96px;
}

.title {
    font-size: 35px;
    font-family: $secondary-font;
    font-weight: bold;
}

.separator {
    display: block;
    margin: 25px 0 35px 0;
    width: 117px;
    height: 2px;
    background-color: $primary-color;
}

.price_list {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 30px 64px;
}

.massage_image {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
        width: 80%;
    }
}

.price_items {
    margin: auto;
}

@media (min-width: 1600px) {
    .price_items {
        flex-grow: 1;
    }
}

@media (max-width: 992px) {
    .pricing {
        margin-top: 25px;
        width: 100vw;
        padding: 0;
    }

    .separator {
        margin-top: 8px;
        margin-bottom: 20px;
    }

    .massage_image {
        display: none;
    }

    .price_list {
        padding: 30px 30px 30px 30px;
    }

    .title {
        padding-left: 30px;
    }

    .price_items {
        width: 100%;
    }
}