@import '../../variables.scss';

.header_menu {
    display: flex;
    padding-top: 42px;
    align-items: center;
    width: 600px;
}

.nav {
    display: flex;
    margin-left: 2vw;

}

.logo,
.nav_item {
    cursor: pointer;
}

.nav_item {
    display: flex;
    align-items: center;
    margin-left: 30px;

    img {
        padding-right: 15px;
    }
}

.separator {
    display: block;
    margin: 13px 0 50px 0;
    width: 117px;
    height: 2px;
    background-color: $text-color;
}

.description {
    margin-top: 80px;
    max-width: 600px;
}

.main_description h1 {
    max-width: 596px;
    font-family: $secondary-font;
    font-size: 35px;
    //font-size: calc(35px + (47 - 35) * ((100vw - 1200px) / (1600 - 1200)));
}

.additional_description h2 {
    max-width: 400px;
    font-size: 21px;
    font-weight: normal;
}

.sign {
    padding-top: 50px;
}

@media (min-width: 1600px) {
    .main_description h1 {
        font-size: 45px;
    }

    .additional_description h2 {
        font-size: 40px;
        max-width: unset;
        padding-right: 10px;
    }

    .sign img {
        width: 300px;
        padding-top: 110px;
    }
}

@media (max-width: 992px) {
    .header_menu {
        width: auto;
        justify-content: center;
        ;
    }

    .description {
        max-width: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main_description h1 {
        text-align: center;
    }

    .separator {

        margin: 13px auto 30px auto;
    }

    .header_container {
        width: 100%;
    }

    .header_menu {
        justify-content: space-between;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .nav_item {
        display: none;

        &:last-child {
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                padding-right: 0;
                padding-bottom: 10px;
            }
        }
    }

    .header_menu {
        align-items: flex-start;
        padding-top: 25px;
    }

    .description {
        margin-top: 40px;
        align-items: flex-start;
    }

    .main_description h1 {
        text-align: left;
    }

    .separator {
        margin: 13px 0 25px 0;
    }

    .sign {
        padding-top: 35px;
    }
}