@import '../../variables.scss';

.header {
    background-color: $primary-color;
    height: 100vh;
    overflow-y: hidden;
}

.header_menu {
    display: flex;
    padding-top: 52px;
}

.header_content {
    display: flex;
}

.nav {
    display: flex;
    margin-left: 136px;

}

.nav_item {
    display: flex;
    margin-left: 30px;
}

.separator {
    display: block;
    margin: 13px 0 50px 0;
    width: 117px;
    height: 2px;
    background-color: $text-color;
}

.description {
    margin-top: 128px;
    max-width: 600px;
}

.main_description h1 {
    font-size: 35px;
    max-width: 596px;
    font-family: $secondary-font;
}

.additional_description h2 {
    max-width: 300px;
    font-size: 21px;
    font-weight: normal;
}

.sign {
    padding-top: 40px;
}