@import '../../variables.scss';

.header_container {
    z-index: 1;
}

.header_menu {
    display: flex;
    padding-top: 42px;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}

.header_container {
    background-color: #fff;
}

.nav_close {
    display: flex;
    margin-left: 2vw;
    color: $secondary-color;
    cursor: pointer;

}

.navclose_item {
    display: flex;
    align-items: center;
    margin-left: 30px;

    img {
        padding-right: 15px;
    }
}

.separator {
    display: block;
    margin: 13px 0 50px 0;
    width: 117px;
    height: 2px;
    background-color: $secondary-color;
}

.description {
    margin-top: 128px;
    width: 600px;
}

.main_description h3 {
    max-width: 596px;
    color: $primary-color;
    font-family: $secondary-font;
    font-size: 21px;
}

.mail {
    font-size: 14px;
    color: $secondary-color;
}

nav {
    margin-top: 60px;
    height: 330px;
    width: 350px;
}

.nav_item {
    margin-bottom: 20px;
    color: $secondary-color;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.number {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 1px solid $secondary-color;
    @extend %center;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: 18px;
}

.section_link {
    padding-left: 20px;
}

.section_name {
    font-size: 21px;
    font-family: $secondary-font;
}

.section_desc {
    font-size: 14px;
    color: $primary-color;
    font-weight: 600;
    padding-top: 5px;
}

.section_separator {
    display: block;
    margin: 10px 0 0 0;
    width: 117px;
    height: 1px;
    background-color: $primary-color;
}

a {
    text-decoration: none;
}

@media (max-width: 768px) {
    section {
        width: 100vw;
        padding: 0 15px;
        overflow-x: hidden;
    }
}