@import '../../variables.scss';

.slider {
    width: 51vw;
    height: 51vw;
    border: 1px solid $secondary-color;
    border-radius: 50%;
    flex-shrink: 0;
    position: relative;
    top: -15px;
    @extend %center;


}

.slider_menuOpen {
    &::before {
        //content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -999999px;
        background-color: #fff;
        right: 50%;
        z-index: 0;
    }
}

.circle_big {
    width: 46vw;
    height: 46vw;
    border-radius: 50%;
    background-color: #fff;
    @extend %center;
    flex-direction: column;
    position: relative;
    ;
}

.circle_small {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    border: 1px solid $secondary-color;
    @extend %center;

    img {
        width: 70%;
    }
}

.slider_title {
    font-family: $secondary-font;
    color: $secondary-color;
    font-size: 27px;
    //padding-top: 37px;
    position: absolute;
    bottom: 4vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.title {
    min-width: 200px;
}

.arrow_left,
.arrow_right {
    position: absolute;
    cursor: pointer;
    @extend %center;
}

.arrow_left {
    left: 6vw;

    img {
        transform: rotate(-90deg);
        width: 4vw;
    }
}

.arrow_right {
    right: 6vw;

    img {
        transform: rotate(90deg);
        width: 4vw;
    }
}