@import '../../variables.scss';

.slider {
    width: 51vw;
    height: 51vw;
    border: 1px solid $secondary-color;
    border-radius: 50%;
    flex-shrink: 0;
    position: relative;
    top: -15px;
    @extend %center;


}

.slider_menuOpen {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: -9999px;
        left: -999999px;
        background-color: #fff;
        right: 50%;
        z-index: 0;
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        border: 1px solid $secondary-color;
        position: absolute;
        z-index: 1;
        border-radius: 50%;
        flex-shrink: 0;
    }
}

.circle_big {
    width: 46vw;
    height: 46vw;
    border-radius: 50%;
    background-color: #fff;
    @extend %center;
    flex-direction: column;
    position: relative;
}

.circle_small {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    border: 1px solid $secondary-color;
    @extend %center;

    img {
        width: 70%;
    }
}

.slider_title {
    font-family: $secondary-font;
    color: $secondary-color;
    font-size: 27px;
    position: absolute;
    bottom: 4vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.arrow_left,
.arrow_right {
    position: absolute;
    cursor: pointer;
    @extend %center;
}

.arrow_left {
    z-index: 3;
    left: 6vw;

    img {
        transform: rotate(-90deg);
        width: 4vw;
    }
}

.arrow_right {
    z-index: 3;
    right: 6vw;

    img {
        transform: rotate(90deg);
        width: 4vw;
    }
}

@media (max-width: 992px) {
    .slider {
        margin-top: 50px;
        width: 75vw;
        height: 75vw;
    }

    .circle_big {
        width: 65vw;
        height: 65vw;
    }

    .circle_small {
        width: 50vw;
        height: 50vw;

        img {
            width: 70%;
        }
    }

    .arrow_left {
        left: 3vw;

        img {
            width: 10vw;
        }
    }

    .arrow_right {
        right: 3vw;

        img {
            width: 10vw;
        }
    }

    .slider_title {
        position: relative;
        top: 10px;
    }
}

@media (max-width: 768px) {
    .slider {
        margin-top: 50px;
        width: 90vw;
        height: 90vw;
        z-index: 1;
        margin-bottom: 40px;
        border: none;

        &:after {
            content: '';
            width: 100%;
            height: 100%;
            border: 1px solid #B69969;
            position: absolute;
            z-index: 1;
            border-radius: 50%;
            flex-shrink: 0;
        }
    }


    .circle_big {
        width: 80vw;
        height: 80vw;
        box-shadow: 0px 20px 60px #00000029;

        &:before {
            content: '';
            width: 100vw;
            height: 100%;
            top: 50%;
            background-color: #fff;
            position: absolute;
            z-index: -1;
        }
    }


    .slider_title {
        font-size: 18px;
        text-align: center;
    }

    .arrow_left {
        left: 1vw;
        z-index: 2;

        img {
            width: 14vw;
        }
    }

    .arrow_right {
        right: 1vw;
        z-index: 2;

        img {
            width: 14vw;
        }
    }
}