@import './variables.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    border: 0;
    font-size: 100%;
    font: inherit;
    color: inherit;
}

body {
    color: $text-color;
    font-family: $primary-font
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    //overflow-x: hidden;
}

/** simpe bar over write*/
.simplebar-scrollbar:before {
    background: #0E3D57 !important;
    opacity: 1 !important;
    border-radius: 60px;
    padding: 1px;
}

.simplebar-track {
    border: 1px solid #B69969;
    border-radius: 60px;
    width: 9px !important;
}


@media (min-width: 1600px) {
    .container {
        max-width: 1550px;
    }
}

@media (max-width: 992px) {
    section {
        width: 100vw;
        padding: 0 30px;
        overflow-x: hidden;
    }
}

@media (max-width: 768px) {
    section {
        width: 100vw;
        padding: 0 15px;
        overflow-x: hidden;
    }
}