@import './variables.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $text-color;
    font-family: $primary-font
}

section {
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 1600px) {
    .container {
        max-width: 1550px;
    }
}