@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap');

$primary-color: #0E3D57;
$secondary-color: #B69969;
$text-color: #fff;
$primary-font: 'Nunito Sans',
sans-serif;
$secondary-font: 'Merriweather',
serif;
$transition-time: .5s;
$transform-translate-y: translateY(35%);

%center {
    display: flex;
    align-items: center;
    justify-content: center;
}