@import '../../variables.scss';

.fixedFooter {
    background-color: #fff;
    width: 100vw;
    border-top: 1px solid $secondary-color;
    height: 55px;
    position: fixed;
    bottom: 0;
    left: 0;
    color: $primary-color;
    z-index: 99999;
    transform: translateY(120%);
    transition: .5s;
}

.fixedFooterAniamtion {
    transform: translateY(0);
}

.fixedFooter_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    position: relative;
}

.facebok_container {
    display: flex;

    p {
        font-weight: bold;
        padding-left: 15px;
    }
}

.backOnTop {
    display: flex;
    justify-content: center;

    .arrow {
        border: 1px solid $secondary-color;
        border-radius: 50%;
        width: 37px;
        height: 37px;
        position: absolute;
        top: 0;
        transform: translateY(-50%);

        img {
            width: 100%
        }
    }

    p {
        color: $secondary-color;
        font-weight: bold;
    }
}

.contact {
    display: flex;

    img {
        padding-right: 7px;
    }

    p {
        padding-left: 7px;
        font-weight: bold;
    }
}

@media (max-width: 768px) {
    .fixedFooter {
        padding: 0 15px;
        height: 50px;
    }

    .fixedFooter_container {
        height: 50px;
    }

    .contact {
        flex-basis: 25%;
        justify-content: space-between;
        height: 100%;

        a {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 70%;
                padding-right: 0;
            }
        }

        p {
            display: none;
        }
    }

    .facebook_link {
        flex-basis: 25%;
        height: 100%;

        .facebok_container {
            height: 100%;
            display: flex;
            align-items: center;

            img {
                height: 70%;
            }
        }

        p {
            display: none
        }
    }
}